/*div {
    border: 1px solid red;
}*/

header {
    opacity: 0.4;
    background-color: black;
    margin-bottom: 10px;
}

body {
    background-color: rgb(125, 125, 125);
}

h1 {
    color: white;
    text-align: center;
}

.box {
    border: 1px solid black;
    background-color: rgb(175, 175, 175);
    border-radius: 8px; /* Rounder borders */
}

.letterGuessBox {
    border: 1px solid black;
    background-color: rgb(175, 175, 175);
    border-radius: 8px; /* Rounder borders */
    height: 200px;
}

#image {
    width: 100%;
    margin: auto;
    display: block;
}

h2 {
    color: red;
}

.buttons {
    border: 1px solid black;
}